<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" routerLink="#">🗞Wiki Comments</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row text-center p-4">
    <form class="col-lg-4 offset-lg-4">
        <h1>🧩</h1>
        <h3>Nice to meet you</h3>
        <div class="form-group">
          <!-- <label for="exampleInputEmail1">Email address</label> -->
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->

          <!-- <label for="exampleInputPassword1">Password</label> -->
          <input type="password" class="form-control" id="password" placeholder="Password">

            <!-- <label for="exampleInputPassword1">Password</label> -->
            <input type="password" class="form-control" id="verify" placeholder="Verify Password">
          </div>
        <div class="p-1">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </div>
        <div class="p-1">
        <button type="button" class="btn btn-dark btn-block" routerLink="/register">Register</button>
      </div>
      </form>
    </div>
  </div>